.flx{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 100px;
    
}

.fx{
    background-color: green ;
    width: 250px;
    height: 200px;
    border-radius: 1px;
    color: white;
    font-size: bold;
    display: grid;
    justify-content: center;
    align-items: center;
    position: relative;
}


.f1{
   
    position: relative;
    top:0;
    transition: right 10s ease 0.10s;
}

.f1:hover{
    right: -10px;
   
    background-color: red;
}

.f2{
   
    position: relative;
    top:0;
    transition: left 10s ease 0.10s;
}

.f2:hover{
    right: 10px;
   
    background-color: red;
}

.f3{
   
    position: relative;
    top:20;
    transition: top 10s ease 0.10s;
}

.f3:hover{
   top: -30px;
   
    background-color: red;
}

.f4{
    position: relative;
    bottom:20;
    transition: top 10s ease 0.10s;
}

.f4:hover{
    top: 30px;
   
    background-color: red;
}

.f5{
    transition: transform .2s;

}

.f5:hover {
    -ms-transform: scale(1.5); /* IE 9 */
    -webkit-transform: scale(1.5); /* Safari 3-8 */
    transform: scale(1.5); 
    background-color: red;
  }



  .f6{
    transition: transform 2s;
  }

  .f6:hover {
     transform: scale(-1.5);
     background-color: red;
  }
.f7{
    transition:  2s;
}

.f7:hover{
    border-radius: 70%;
    background-color: red;
}

  .f8{
    transition: width 2s
}

.f8:hover{
    width: 300px;
    background-color: red;
}

.f9{
   
    transition:height 2s;
}

.f9:hover{
  
    height:350px ;
    background-color: red;
}

.f10{
    transition: 2s;
}
.f10:hover{
    transform: rotate(20deg);
    background-color: red;
}
